.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  column-gap: 4rem;

  @media (max-width: 1200px) {
    padding: 0rem;
  }

  .logo {
    animation: fade-right 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
    transform: translateX(-180px);
    opacity: 0;
    animation-delay: 1000ms;

    @media (max-width: 1200px) {
      height: 36px;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 4rem;

    @media (max-width: 1200px) {
      display: none;
    }

    &__item {
      animation: fade-in 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
      opacity: 0;
      animation-delay: 1000ms;
    }

    &__link {
      &--active {
        color: var(--pink-color);
      }
    }
  }
}
