@keyframes move-right {
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-down {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
