@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-color);
}

.heading-primary {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 4rem;
  font-weight: normal;
  line-height: 100%;

  @media (max-width: 1200px) {
    font-size: 32px;
    line-height: 120%;
  }
}

.paragraph {
  line-height: 2;
}
